@model Biblioteca.Models.TurmaModel;
@{
	ViewData["Title"] = "Confirmação apagar o cadastro da Turma";
}

<div class="text-center">

	<h3>Deseja excluir o cadastro da turma (@Model.Descricao)?</h3>

</div>

<br/>

<form asp-controller="Turma" asp-action="Excluir" method="get">
	<input type="hidden" asp-for="EscolaId" name="EscolaId" value="@ViewBag.EscolaId" />

	<a class="btn btn-danger btn-block" role="button" asp-controller="Turma" asp-action="Excluir" asp-route-id="@Model.Id" asp-route-escolaid="@ViewBag.EscolaId"> Confirmar </a>
	<a class="btn btn-secondary btn-block" role="button" asp-controller="Turma" asp-action="Index" asp-route-escolaid="@ViewBag.EscolaId"> Cancelar </a>

</form>
