@model List<Biblioteca.Models.EscolaModel>;
@{
    ViewData["Title"] = "Lista de Escolas";
}
<div class="text-center">
    <div class="text-left">
        <a class="btn btn-primary" role="button" asp-controller="Escola" asp-action="Adicionar">Adicionar</a>
   
    </div>

     <br/>

    <h1 class="display-4">Escolas</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome</th>
      <th scope="col">Inep</th>
      <th scope="col">Contato</th>
    </tr>
  </thead>
  <tbody>
    @if (Model != null && Model.Any())
   {
       foreach (EscolaModel escola in Model)
       {
            <tr>
              <th scope="row">@escola.Id</th>
              <td>@escola.Nome</td>
              <td>@escola.Inep</td>
              <td>@escola.Contato</td>
              <td>
                  <div class="btn-group" role="group">
                        <a role="button" class="btn btn-info"  asp-controller="Turma" asp-action="Index">Turmas</a>
                        <a role="button" class="btn btn-primary" asp-route-id="@escola.Id" asp-controller="Escola" asp-action="Editar">Editar</a>
                        <a role="button" class="btn btn-danger" asp-route-id="@escola.Id" asp-controller="Escola" asp-action="ExcluirConfirmacao">Excluir</a>
                  </div>
              </td>
            </tr>
       }
   }
  </tbody>
</table>
</div>

